     <div id="wrapper">
          <section>
              <h1>Adobe Illustrator</h1><br />
              <p>I have been working with Illustrator since approx 10th May 2017.</p>
              <p>So yes, I'm still new to it. But check out what I've made so far from tutorials.</p>
          </section>
      </div>

      <p class="warning small-screen">Your screen width is really small so large images are not at full quality. I've squashed them down for you to see them still.</p>
      
      <div class="tile-container">
          <div class="sm-tile"><img class="tile-img" src="assets/img/radio.jpg"></div>   
          <div class="sm-tile"><img class="tile-img" src="assets/img/pizza.jpg"></div>
          <div class="lg-tile"><img class="tile-img" src="assets/img/poptext.jpg"></div>
          <div class="sm-tile"><img class="tile-img" src="http://placehold.it/200x200"></div>
          <div class="lg-tile"><img class="tile-img" src="assets/img/indtext.jpg"></div> 
          <div class="sm-tile"><img class="tile-img" src="assets/img/coff.jpg"></div>
          <div class="lg-tile"><img class="tile-img" src="assets/img/ribbonz.jpg"></div>
          <div class="sm-tile"><img class="tile-img" src="http://placehold.it/200x200"></div>
          <div class="sm-tile"><img class="tile-img" src="http://placehold.it/200x200"></div>
          <div class="lg-tile"><img class="tile-img" src="http://placehold.it/410x200"></div>
          <div class="sm-tile"><img class="tile-img" src="http://placehold.it/200x200"></div>
      </div>