      <div id="wrapper">
          <section>
              <h2>Projects</h2>
              <h4 class="margin-top-50 margin-left-50"> Screenshots</h4>
              <p class="margin-left-50"> Click to enlarge!</p>
              <ul class="overlay" id="imageGallery">
                  <li><a href="assets/img/laravelInstalled.PNG"><img src="assets/img/laravelInstalled.PNG" class="screenshot" alt="laravel"></a></li>
                  <li><a href="assets/img/react.PNG"><img src="assets/img/react.PNG" class="screenshot" alt="React"></a></li>
                  <li><a href="assets/img/angular4.PNG"><img src="assets/img/angular4.PNG" class="screenshot" alt="Angular4"></a></li>
                  <li><a href="assets/img/gla.PNG"><img src="assets/img/gla.PNG" class="screenshot" alt="GlaWebDev"></a></li>
              </ul>
              
              <h4 class="margin-top-50 margin-left-50">Online Projects (Github Pages - just like this)</h4>
              <p class="margin-left-50">Hover for info or click on them to check them out!</p>
              <div class="photo-container">
                  <div class="photo">
                      <img src="assets/img/proj1.PNG" alt="foodbank img">	
                      <div class="photo-overlay">
                          <h3><a href="https://zandergcu.github.io/foodbank" target="_blank">Drum Foodbank</a></h3>
                          <p class="ft2">I volunteered here and designed them a website.</p>
                      </div>
                  </div>
              </div>
              <div class="photo-container">
                  <div class="photo">
                      <img src="assets/img/proj2.PNG" alt="comparecover img">	
                      <div class="photo-overlay">
                          <h3><a href="https://zandergcu.github.io/comparecover" target="_blank">Interview Test</a></h3>
                          <p class="ft2">I was given the task of designing a homepage for an insurance site.</p>
                      </div>
                  </div>
              </div>
              <div class="photo-container">
                  <div class="photo">
                      <img src="assets/img/proj3.PNG" alt="ibizadigital img">	
                      <div class="photo-overlay">
                          <h3><a href="https://zandergcu.github.io/TechnicalTask" target="_blank">Technical Task</a></h3>
                          <p class="ft2">I was given the task of creating this as a test. It wasn't an interview though.</p>
                      </div>
                  </div>
              </div>	            

              <h4 class="cubetext"> 3D Spinning Cube</h4>
              <p class="cubetext">Hover over it!</p>
              <div class="cube-container">
                  <div class="photo-cube">
                      <img class="front"src="assets/img/cube1.jpg" alt="">
                      <div class="back photo-desc">
                          <h3>3D Cube Spin</h3>
                          <p>This was made from following an online tutorial I thought was quite cool.</p>
                      </div>
                      <img class="left" src="assets/img/cube2.jpg" alt="">
                      <img class="right" src="assets/img/cube3.jpg" alt="">
                  </div>
              </div>
              
              <h4 class="moreSoon"> More Coming Soon!</h4>
              
          </section>
      </div>