      <div id="wrapper">
          <section>
              <h1>Adobe Photoshop</h1><br />
              <p>I have been working with Photoshop since approx 10th May 2017.</p>
              <p>So yes, I'm still new to it. But check out what I've made so far from tutorials.</p>
          </section>
      </div>
      

              <div class="photoshop-thumbnails">
                  <div class="photoshop">
                      <div class="phototext">
                          <h1>Colours</h1>
                          <p>Emphasised colours.</p>
                          <p>Removed unwanted objects.</p>
                          <p>Blurred edges.</p>
                      </div>       
                      <img class="thumb" src="assets/img/norway.jpg">
                  </div>
                  <div class="photoshop">
                      <div class="phototext">
                      <h1>Layers</h1>
                      <p>Stacking images.</p>
                      <p>Using Layer Masks.</p>
                      <p>LOTS OF Layer Masks.</p>
                      </div>
                      <img class="thumb" src="assets/img/layers.jpg">
                  </div>
                  <div class="photoshop">
                      <div class="phototext">
                      <h1>Blur</h1>
                      <p>Focal points.</p>
                      <p>Iris blur.</p>
                      <p>Simple really.</p>
                      </div>
                      <img class="thumb" src="assets/img/blur.jpg">
                  </div>
                  <div class="photoshop">
                      <div class="phototext">
                      <h1>Pending</h1>
                      <p></p>
                      <p></p>
                      <p></p>
                      </div>
                      <img class="thumb" src="http://placehold.it/400x200">
                  </div>
                  
                  <div class="photoshop">
                      <div class="phototext-lg">
                      <h1>Lyrics</h1>
                      <p>Lyrics styling.</p>
                      <p>Still fairly modern.</p>
                      <p>Emphasizes text.</p>
                      <p><a href="https://www.youtube.com/watch?v=WIm1GgfRz6M" target="_blank">Check out the song!</a></p>
                      </div>
                      <img class="thumb" src="assets/img/lyric400.jpg">
                  </div>
                  
                  <div class="photoshop">
                      <div class="phototext-lg">
                      <h1>Lyrics #2</h1>
                      <p>Another one.</p>
                      <p>Stay motivated.</p>
                      <p><a href="https://www.youtube.com/watch?v=YgFyi74DVjc" target="_blank">Check out the song!</a></p>
                      </div>
                      <img class="thumb" src="assets/img/lyric2400.jpg">
                  </div>
                  
                  <div class="photoshop">
                      <div class="phototext">
                      <h1>Pending</h1>
                      <p></p>
                      <p></p>
                      <p></p>
                      </div>
                      <img class="thumb" src="http://placehold.it/400x200">
                  </div>
                  
                  <div class="photoshop">
                      <div class="phototext">
                      <h1>Pending</h1>
                      <p></p>
                      <p></p>
                      <p></p>
                      </div>
                      <img class="thumb" src="http://placehold.it/400x200">
                  </div>
                  
                  
              </div>