      <div id="wrapper">
          <section id="primary">
              <h3>General Information</h3>
              <p>I am not currently looking for work.</p>
              <p>I have been working as a Web Developer since April this year and absolutely love it! I have actually had to relocate for the job and this has been a fun and exciting experience.</p>
              <p>If you need my assistance with anything feel free to get in touch!</p>
              <p>Find my Web Dev posts on Twitter <a href="https://twitter.com/zanderGcu" target="_blank">@zanderGcu</a></p>
          </section>
          <section id="secondary">
              <h3>Contact Details</h3>
              <ul class="contact-info">
                  <li class="phone"><a href="tel:+447931672688">07931 672688</a></li>
                  <li class="mail"><a href="mailto:amacke201@caledonian.ac.uk">amacke201@caledonian.ac.uk</a></li>
              </ul>
          </section>
          <section class="social-media">
              <a href="https://www.codecademy.com/zanderm1" target="_blank"><img src="assets/img/codecademy-icon2.png" alt="Twitter Logo" class="social-icon"></a>
              <a href="https://teamtreehouse.com/alexandermackenzie" target="_blank"><img src="assets/img/treehouse-icon.png" alt="Treehouse Logo" class="social-icon"></a>
              <a href="https://www.linkedin.com/in/alexander-mackenzie-894823a7" target="_blank"><img src="assets/img/linkedin-icon.png" alt="LinkedIn Logo" class="social-icon"></a>
          </section>
      </div>