      <div id="wrapper">
          <section>
              <h1>Programming</h1><br />
              <p>I will use this page to show programming experience.</p>
              <p>It will have Javascript, JQuery and various pieces of content. React JS, Java and PHP will be included.</p>

              
              <div class="programmingSection">
                  <h2>Javascript practice - Heads or Tails</h2>
                  <p>Uses javascript to generate a 50/50 chance of winning.</p>
                  <p>Asks user to make their choice and locks it in... then displays the result!</p>
                  <p>See for yourself. Lots of manipulation of the DOM elements.</p>
                  <a href="https://zandergcu.github.io/HeadsOrTails/" target="_blank"><img class="prog" src="assets/img/hort.PNG"></a>
              </div>
              <div class="programmingSection">
                  <h2>Javascript - drop down mobile navigation</h2>
                  <p>Drop down navigation in Javascript (you may need to allow the JS script to run first)</p>
                  <p>Works by setting height as 0. - On click height is increased to its full height... with a transition time applied.</p>
                  <p>This makes the menu slide up and down gradually! - Check it out!</p>
                  <a href="https://zandergcu.github.io/Dropdown-Mobile-Navigation" target="_blank"><img class="prog" src="assets/img/fbnav.PNG"></a>
              </div>
              <div class="programmingSection">
                  <h2>JQuery - Nice Content Effect</h2>
                  <p>As you scroll down the page, content slides in from the sides and also fades in to full colour.</p>
                  <p>This will only work on medium laptop sizes as I threw it together quickly and haven't been able to perfect it yet or make it more responsive for other widths. It's on my list TO DO though!</p>
                  <a href="https://zandergcu.github.io/parallax" target="_blank"><img class="prog" src="assets/img/parallax.PNG"></a>
              </div>
              <div class="programmingSection">
                  <h2>Javascript - Algorithm practice</h2>
                  <p>Messing around with Javascript.</p>   
                  <a href="https://zandergcu.github.io/algorithms" target="_blank"><img class="prog" src="assets/img/algorithms.PNG"></a>
              </div>
              <div class="programmingSection">
                  <h2>JQuery - Web Dev Quiz Coursework</h2>
                  <p>20 questions. 3 different types of question. Timed. Answers marked at end.</p>
                  <p>Here's an image for now.</p>
                  <h3>I will have the full version on eventually when I get it from the university computers.</h3>   
                  <img src="assets/img/quiz.PNG">
              </div>
 
              <div class="programmingSection">
                  <h1>PHP University Coursework</h1>
                  <p>Our course member's had to come up with 3 modules with basic information, images, categories and keywords.</p>
                  <p>All of this data was placed into a massive database and we were given a basic template.</p>
                  <h2>The task:</h2>
                  <ul id="phpTask">
                      <li>Randomise the modules on the homepage</li>
                      <li>Implement a search function</li>
                      <li>Have pagination working (1,2,3,4 NEXT PAGE)</li>
                      <li>List view / Grid view options</li>
                      <li>Link categories and keywords to show the modules</li>
                      <li>Implement admin page to add remove and edit modules</li>
                      <li>Only display remove and edit options if logged in</li>
                  </ul>
                  <h3>Check out the screen recording of it!</h3>
                  <video width="320" height="240" controls>
                      <source src="assets/vid/PHP.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
              </div>
              
              <div class="programmingSection">
                  <h1>ReactJS Scoreboard</h1>
                  <p>This project is from <a href="https://www.teamtreehouse.com" target="_blank">TeamTreehouse</a> tutorials. <a href="https://teamtreehouse.com/alexandermackenzie" target="_blank">(my account)</a></p>
                  <p>The styling is theirs and the initial project is a non-working scoreboard.</p>
                  <p>From following through their videos you get hands on with ReactJS code.</p>
                  <p>I completed this tutorial amongst others and feel confident with React.</p>
                  <h3>Check out the screen recording of it!</h3>
                  
                  <video width="320" height="240" controls>
                      <source src="assets/vid/scoreboard.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
              </div>
              
              <div class="programmingSection">
                  <h1>React Router Webpage</h1>
                  <p>Pending.</p>
<!--                  <p>This project is from <a href="https://www.teamtreehouse.com" target="_blank">TeamTreehouse</a> tutorials. <a href="https://teamtreehouse.com/alexandermackenzie" target="_blank">(my account)</a></p>
                  <p>The styling is theirs and the initial project is just some separate files.</p>
                  <p>From following through their videos you get hands on with React Router.</p>
                  <p>You piece content together, set up the routes, set the URLs etc.</p>
                  <p>I feel confident with React Router with this tutorial in the bag amongst others.</p>
                  
                  <h3>Check out the screen recording of it!</h3>
                  <video width="320" height="240" controls>
                      <source src="vid/PHP.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>-->
              </div>
              <div class="programmingSection">
                  <h2>Java - Android Application</h2>
                  <h3>Glasgow Petrol Prices App</h3>
                  <p>Take fuel type and Postcode from users.</p>
                  <p>Pull Parse XML from an online feed and display the best prices nearby to the users.</p>   
                  <h3>Will get a video of it when I get my files from the University computers.</h3>
              </div>
          </section>
      </div>