      <div id="wrapper">
          <section>
              <img src="assets/img/profile-photo.jpg" alt="Photograph of Z" class="profile-photo">
              <h3>Welcome! <i class="warning">**UPDATING ATM. NEW CONTENT IN PROGRESS</i></h3>
              <p>Hi, I'm Zander! This is a simple site I've put together to showcase recent work and mess around in general. </p>
              <p>I graduated in November 2016 at Glasgow Caledonian University with a 2.2 Honours Degree in Web Systems Development. </p>
              <p> My goal is to specialize in Front End Web Development but I have also covered Back End in my studies. </p>
              <p>I am from Glasgow (Scotland) however I am working as a Web Developer in Penrith (England) which is 90 minutes from Glasgow by train! I have relocated here for work.</p>
              <p>When not working I am studying using various online learning platforms and I'm starting to piece together a pretty neat portfolio.</p>
              <p>I am fully confident with HTML, CSS and Bootstrap and I'm learning Adobe Photoshop and Illustrator thanks to my work providing me with a licence and any support needed along the way. These skills will really boost my potential for front end development.</p>
              <p>I am getting better with Javascript, JQuery and React JS. I will dedicate a section on this soon.</p>
              <p>I have studied Java and PHP - I was also messing around with Laravel and Symfony but got my job soon after and halted with that as I won't be working with them.</p>
              <p>Finally... I have worked with Angular JS, SASS, Git and SQL (I've taught this).</p>
              <p>I wouldn't consider myself a pro just yet... but I've done all the ground work for so many areas in Web Development and know how I learn best. I am working on getting my work to the next level now.</p>
              <h3>Watch this space!</h3><br />
              <p>...and check out my other pages.</p>
          </section>
      </div>